
 @charset"utf-8";
.labout{width:680px;height:800px;float:left;margin-top:20px;border-right:1px dashed  #ABADB3;}
.labout p.about_tit{line-height:35px;border-bottom:1px solid #c0c0c0;text-align:right;padding-right:25px;width:580px;}
.labout p.about_tit span{float:left;font-size:18px;color:#404040;margin-left:15px;}
.labout p.about_tit a{color:#b5b5b5;font-size:14px;}
.labout p.about_tit a:hover{color:#000;text-decoration:underline;}
.labout p.about_tit b{color:#b5b5b5;}
.labout section.about_con{float:right;margin-top:5px;padding:5px;width:630px;}
.labout section.about_con .tit_pic{float:left;width:280px;text-align:left;margin-left:20px;margin-right:0px;}
.labout section.about_con figure{font-size:14px;line-height:25px;letter-spacing:1px;}
.labout section.about_con figure span{font-size:22px;color:#c91b46;text-indent:20px;display:block;padding-bottom:20px;}
.labout section.about_con figure p{text-indent:2em;padding-right:15px;padding-top:15px;font-weight:bold;}
.labout section.about_con figure p strong{color:#c91b46;}
.labout section.about_con figure .read_me{padding:10px 25px 0;width:300px;margin:50px auto;border:1px solid #ABADB3;border-radius:5px;}
