@charset"utf-8";
.labout{width:680px;height:800px;float:left;margin-top:20px;border-right:1px dashed  #ABADB3;}
 .article_con{float:left;width:680px;padding-top:25px;}
 .article_con h2{font-size:22px;margin:15px 0;text-align:center;color:#c91b46;font-weight:bold;display:block;font-family:"宋体";}
 .article_con p.writer{line-height:35px;font-size:14px;color:#999;text-align:center;border-top:1px dashed #ABADB3;border-bottom:1px dashed #ABADB3;}
.article_con p.writer a{color:#c91b46;}
.article_con p.writer i{display:inline-block;width:50px;}
.article_con p.article_all{font-size:14px;line-height:25px;text-indent:2em;padding:25px 5px;}
.article_con p.article_two_tit{font-size:14px;line-height:25px;margin-bottom:50px;float:left;margin-right:350px;}
.article_con p.article_two_tit a{color:#404040;}
.article_con p.article_two_tit a:hover{color:#6fb5ee;}
.article_con .article_all{ width:680px; height:700px;margin-top:10px;}
 .article_all p{font-size:16px; line-height:30px; text-indent:20px; font-family:"宋体"; margin-left:10px;}
 .article_all h1{ font-family:"微软雅黑" ;font-size:24px; text-align:center; font-weight:bold;}
 .LD{float:right;}
 .LD-img{float:left;margin-right:15px; margin-bottom:5px;}
 .LD-img img{width:350px;height:200px;}
 .LD-img span{ margin-left:100px; font-size:14px; color:#F00;}